.grid {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links {
    margin: 0 8px;
    color: #81FE88 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
}

.links:hover {
    text-decoration: underline;
}

.links:visited {
    color: #81FE88 !important;
}